.sitterTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #054e72;
  margin: 10px 0 10px 40px;
}
.sitterAvailable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #054e72;
  margin: 10px 0 10px 40px;
}
.BigContiner {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 50px auto;
  margin-left: 50px;
  height: 80px;
}
.sitterContainer {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  margin-left: 50px; */
  /* overflow-x: scroll; */
  /* border: 1px solid lightblue; */
}
.sitterOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 4px solid #054e72;
  margin: 20px 0 0 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #054e72;
  height: 150px;
  border-radius: 2px;
  padding: 0 5px 0 5px;
  box-shadow: 0 8px 6px -6px black;
}
.sitterStartEndDate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.restrictionAppointment {
  width: 250px;
}
.checkBoxMain {
  display: flex;
  flex-direction: column;
  align-self: start;
}
.buttonSiiter {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #4094bf;
  border: 1px solid #4094bf;
  color: white;
  width: max-content;
}
