.sitterTitleSS {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #054e72;
  margin: 10px 0 10px 40px;
}
.sitterAvailableSS {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #054e72;
  margin: 10px 0 10px 40px;
}
.sitterContainerSS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 50px auto;
  margin-left: 60px;
  flex-wrap: wrap;
  height: 800px;
  width: max-content;
}
.sitterOuterContainerSS {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 4px solid #054e72;
  margin: 10px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #054e72;
  height: 150px;
  border-radius: 2px;
  padding: 0 5px 0 5px;
  box-shadow: 0 8px 6px -6px black;
  align-self: flex-start;
}
.sitterStartEndDateSS {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.restrictionAppointmentSS {
  width: 250px;
}

@media screen and (max-width: 980px) {
  .sitterContainerSS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    margin-left: 60px;
    flex-wrap: nowrap;
    height: max-content;
    width: max-content;
  }
}

@media screen and (max-width: 623px) {
  .sitterTitleSS {
    font-size: 20px;
  }
  .sitterAvailableSS {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .sitterTitleSS {
    font-size: 18px;
  }
  .sitterAvailableSS {
    font-size: 18px;
  }
  .sitterContainerSS {
    margin: 0;
  }
}
