.header-outDiv {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100%;
  background-color: rgb(244, 203, 187);
}
.headerTitle {
  margin: auto auto;
  color: #2e95b5;
  font-size: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  min-width: max-content;
}
