.headerOutDiv {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100vm;
  background-color: rgb(244, 203, 187);
}
.headerTitle {
  margin: auto auto;
  color: #2e95b5;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Comic Sans MS', sans-serif;
  width: max-content;
}
@media screen and (max-width: 935px) {
  .headerOutDiv {
    height: 130px;
  }
  .headerTitle {
    font-size: 30px;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .headerOutDiv {
    height: 125px;
  }
  .headerTitle {
    font-size: 45px;
    font-weight: bold;
  }
}

/* @media screen and (min-width: 450px) {
  .headerOutDiv {
    height: 120px;
    width: 100vmax;
  }
  .headerTitle {
    margin: 0 150px 0 0;
    display: flex;

    align-items: center;
    font-size: 40px;
    font-weight: bold;
  }
} */
