.LoginOuterDiv {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 450px;
  align-items: center;
  margin: 70px auto;
  border: 1px solid grey;
  font-family: 'Comic Sans MS', sans-serif;
  background-color: white;
  /* font-family: 'MacSystem', sans-serif; */
}
.LoginTitleW {
  margin: 50px 0 15px 0;
  text-align: left;
  color: black;
  font-size: 35px;
  text-shadow: 1px 3px grey;
}
.LoginInnerDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 25px 0 25px;
}
.usernameInput {
  margin: 25px 0 0 0;
}
.passwordInput {
  margin: 10px 0 0 0;
}
.logIn {
  margin: 28px 0 20px 0;
  height: 50px;
  font-size: 22px;
  color: white;
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #4094bf;
  border: 1px solid #4094bf;
  border-radius: 2px;
  letter-spacing: 1.3px;
  cursor: pointer;
}
.passwordInput > input {
  width: 450px;
  height: 45px;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 25px;
  color: black;
  padding: 10px 0 10px 20px;
  border: 2px solid lightgrey;
  border-radius: 2px;
}
.usernameInput > input {
  width: 450px;
  height: 45px;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 25px;
  color: black;
  padding: 10px 0 10px 20px;
  border: 2px solid lightgrey;
  border-radius: 2px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: gray;
  font-family: 'Comic Sans MS', sans-serif;
}

.LoginToSignUp {
  font-size: 20px;
  width: max-content;
  color: #656565;
}

a {
  width: max-content;
  text-decoration: none;
  color: #054e72;
  font-size: 20px;
  letter-spacing: -1px;
}
.danger {
  margin: 28px 0 20px 0;
  height: 50px;
  font-size: 22px;
  color: white;
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #a00000;
  border: 1px solid #a00000;
  border-radius: 2px;
  letter-spacing: 1.3px;
  cursor: pointer;
}
@media screen and (max-width: 623px) {
  .LoginOuterDiv {
    width: 400px;
    height: 300px;
  }
  .LoginTitleW {
    margin: 20px 0 10px 0;
    color: black;
    font-size: 20px;
    text-shadow: none;
  }
  .usernameInput > input {
    margin: 0 auto;
    width: 350px;
    height: 40px;
    font-size: 20px;
    padding: 8px 0 8px 15px;
  }
  .usernameInput {
    margin: 2px;
  }
  .passwordInput {
    margin: 5px;
  }
  .passwordInput > input {
    margin: 0 auto;
    width: 350px;
    height: 40px;
    font-size: 20px;
    padding: 8px 0 8px 15px;
  }
  .logIn {
    align-self: center;
    margin: 10px 0 15px 0;
    height: 45px;
    font-size: 18px;
    width: 120px;
  }
  .LoginInnerDiv {
    padding: 0 25px 0 25px;
    margin: 0;
  }
  .LoginToSignUp {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .LoginToSignUp > a {
    position: relative;
    left: 15px;
    font-size: 20px;
  }
}
@media screen and (max-width: 430px) {
  .LoginOuterDiv {
    width: 300px;
    height: 300px;
    margin-top: 30px;
  }
  .LoginTitleW {
    margin: 20px 0 10px 0;
    color: black;
    font-size: 20px;
    text-shadow: none;
    font-weight: bold;
  }
  .usernameInput > input {
    margin: 10px auto;
    width: 200px;
    height: 20px;
    font-size: 15px;
    padding: 8px 0 8px 15px;
  }
  .usernameInput {
    margin: 2px;
  }
  .passwordInput {
    margin: 5px;
  }
  .passwordInput > input {
    margin: 10px auto;
    width: 200px;
    height: 20px;
    font-size: 15px;
    padding: 8px 0 8px 15px;
  }
  .logIn {
    align-self: center;
    margin: 10px 0 15px 0;
    height: 45px;
    font-size: 18px;
    width: 100px;
  }
  .LoginInnerDiv {
    padding: 0 20px 0 20px;
    margin: 0;
  }
  .LoginToSignUp {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .LoginToSignUp > a {
    position: relative;
    left: 8px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0;
  }
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: gray;
  font-family: 'Comic Sans MS', sans-serif;
}
