.petOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 10px 0 0;
  border: 1px solid grey;
  height: 360px;
  width: 387px;
}
.petName {
  font-size: 40px;
}
