.petEditForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border: 1px solid lightgray;
  height: 500px;
  width: 650px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  box-shadow: 2px 2px 10px 2px #cecece;
}
.petEditImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.petInfoDetail {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  letter-spacing: 0.8px;
  padding-top: 40px;
  line-height: 1.5;
}
