.RegisterOuterDiv {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: max-content;
  align-items: center;
  margin: 70px auto;
  border: 1px solid grey;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: white;
  padding-bottom: 20px;
}

.LoginTitle {
  margin: 50px 15px 0;
  text-align: left;
  color: black;
  font-size: 35px;
  text-shadow: 1px 3px grey;
}
.SignUPInnerDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 25px 0 25px;
  font-size: 25px;
}

.usernameSignUP {
  margin: 20px 0 0 0;
}
.emailSignUP {
  margin: 10px 0 0 0;
}
.passwordSignUP {
  margin: 10px 0 0 0;
}
.imgUrlSignUP {
  margin: 10px 0 0 0;
}
.SignUpRegister {
  margin: 25px 0 20px 0;
  height: 50px;
  font-size: 22px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #4094bf;
  border: 1px solid #4094bf;
  border-radius: 2px;
  letter-spacing: 1.3px;
  cursor: pointer;
}
label > input {
  display: flex;
  width: 400px;
  height: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  color: black;
  padding: 10px 0 10px 20px;
  border: 2px solid lightgrey;
  border-radius: 2px;
  margin-top: 5px;
}

.SignUPToSignUp {
  font-size: 20px;
  width: max-content;
  color: #656565;
}

a {
  width: max-content;
  text-decoration: none;
  color: #054e72;
  font-size: 20px;
  letter-spacing: -1px;
  margin-left: 5px;
}
.toggleSwitch {
  margin-top: 10px;
  /* padding-top: 10px; */
  text-align: end;
  margin-right: 5px;
  font-size: 28px;
}
.dangerRegister {
  margin: 25px 0 20px 0;
  height: 50px;
  font-size: 22px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #a00000;
  border: 1px solid #a00000;
  border-radius: 2px;
  letter-spacing: 1.3px;
  cursor: pointer;
}

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  top: 10px;
  margin-left: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 60px;
  height: 40px;
  padding: 0;
  border-radius: 30px;
  background-color: red;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: rgb(255, 177, 74);
}

.react-toggle--checked .react-toggle-track {
  background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128d15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 3px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 3px;
  left: 0px;
  width: 29px;
  height: 35px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}
